@import 'bootstrap';

a {
  text-decoration: none;
}


.nav-link:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
}

footer {
  a {
    color: black;

    &:hover {
      color: white;
    }
  }

  .card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    &:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    }
  }
}